{% extends 'Neha/base.html' %}
{% block content %}
{% include 'Neha/sidenav.html' %}
{% load details %}

<link rel="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" ></script>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    {% include  'Neha/nav.html'%}
 <div class="container-fluid mt-4 ">
   <div class="row">
       <div class="col"></div>
        <div class="col-md-11">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Members</h3>
            </div>
            <div class="table-responsive">
              <table id="datatables" class="table align-items-center table-flush" style="color:white;width:100%">
                <thead class="thead-dark">
<tr>
                    <th scope="col" class="sort"  data-sort="name">Sr No.</th>
                    <th scope="col" class="sort"  data-sort="name">Add BY</th>
                     <th scope="col" class="sort"  data-sort="name">Commision</th>
                     <th scope="col" class="sort"  data-sort="name">Date Joined</th>
                    <th scope="col" class="sort"  data-sort="name">User Name</th>
                    <th scope="col" class="sort"  data-sort="name">User Id</th>

                    <th scope="col" class="sort"  data-sort="name">Phone</th>
                    <th scope="col" class="sort"  data-sort="name">Email</th>
                    <th>Actions</th>
                </tr>


                </thead>

                <tbody class="list" style="color:white;">
                {% for i in members %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{forloop.counter}}</span>
                        </div>
                      </div>
                    </th>
                      <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">{{i.created_by}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">{{i.user.username|calculate_commission}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">{{i.created_at}}</span>
                      </span>
                    </td>
                    <td class="budget">
                      {{i.user.username}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">{{i.id}}</span>
                      </span>
                    </td>

                    <td>
                      <div class="avatar-group">
                          <span class="status">{{i.first_name}} {{i.last_name}}</span>
                      </div>
                    </td>

                             <td>
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{i.email}}</span>
                        <div>
                        </div>
                      </div>
                    </td>
                   <td>
                      <div class="d-flex align-items-center">
                          <a href="{% url 'update-profile' i.id %}" class="btn btn-primary btn-sm">Edit-Profile</a>
                          <div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
 </div>
          {% include 'Neha/footer.html' %}
    </div>
<script>
    $(document).ready(function() {
      $('#datatables').DataTable({
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        },
        "pagingType": "full_numbers",
        "lengthMenu": [
          [4, 10, 15, -1],
          [4, 10, 15, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }
      });

      var table = $('#datatables').DataTable();

      // Edit record
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');
        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
    });
  </script>

{% endblock content %}