{% extends 'Neha/base.html' %}
{% block content %}
{% load static %}

<!--<script src="{% static 'vendor/jquery/dist/jquery.min.js'%}"></script>-->
{% include 'Neha/sidenav.html' %}
{% load details %}



  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    {% include  'Neha/nav.html'%}
                         {% if messages %}
        <ul style="margin-top:65px;" class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class="alert alert-{{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
 <div class="container-fluid mt-4">
   <div class="row">

        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Members</h3>
            </div>
            <div class="table-responsive">
              <table id="datatables" class="table align-items-center table-flush" style="color:white;width:100%">
                <thead class="thead-dark">
<tr>
    <th scope="col" class="sortable"  data-sort="name">Sr.No</th>
                    <th scope="col" class="sortable"  data-sort="name">username</th>
                     <th scope="col" class="sort"  data-sort="name">Commision</th>
                     <th scope="col" class="sort"  data-sort="name">Date Joined</th>
    <th scope="col" class="sort"  data-sort="status">status</th>
<!--                    <th scope="col" class="sort"  data-sort="name">User Name</th>-->
<!--                    <th scope="col" class="sort"  data-sort="name">User Id</th>-->

                    <th scope="col" class="sort"  data-sort="name">Email</th>
                    <th>Actions</th>
                </tr>


                </thead>

                <tbody class="list" style="color:white;">
                {% for i in members %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{forloop.counter}}</span>
                        </div>
                      </div>
                    </th>
                      <td class="name">
                      <span class="badge badge-dot mr-4">

                        <span class="status">
                            <a href="{% url 'update-profile' i.id %}">{{i.user.username}}
                            </a></span>
                      </span>
                    </td>

                    <td>
                      <span class="badge badge-dot mr-4">

                        <span class="status">
                            {% if i.soft_delete %}
                            {{i.user.username|calculate_deleted_commission}}
                            {% else %}
                            {{i.user.username|calculate_commission}}
                            {% endif %}
                        </span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">

                        <span class="status">{{i.created_at}}</span>
                      </span>
                    </td>
                       <td class="status">
                      <span class="badge badge-dot mr-4">
                          {% if i.soft_delete %}
                        <i class="bg-warning"></i>
                          <span class="status">In active</span>
                          {% else %}
                          <i class="bg-success"></i>
                          <span class="status">active</span>
                          {% endif %}

                      </span>
                    </td>

                             <td>
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{i.email}}</span>
                        <div>
                        </div>
                      </div>
                    </td>
                   <td>
                       <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                         <a class="dropdown-item" href="{% url 'update-profile' i.id %}">Profile</a>
                           {% if request.user.profile.is_admin and i.soft_delete == False %}

                            <a class="dropdown-item" href="{% url 'change-password' i.user.id %}">Change-Password</a>

                          <a class="dropdown-item" href="{% url 'add-member' i.user.id %}" >Add Member</a>
                          <button class="btn btn-danger btn-sm dropdown-item" onclick="func({{ i.user.id }});">Delete</button>

                          {% endif %}
                        </div>
                      </div>



                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
 </div>
          {% include 'Neha/footer.html' %}
    </div>

<script>
    function func(id)
    {
    swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
  window.location = "../delete-member/" + id;
  } else {
    swal("Your data is safe!");
  }
});
    }
</script>
{% endblock content %}