
{% extends 'Neha/base.html' %}
{% block content %}
{% load static %}
{% load details %}
<style>
* {
margin: 0;
padding: 0;
font-family:sans-serif,Arial;
font-size:10pt;
}
.tree {
white-space: nowrap;
min-width: 1000px;
min-height:500px;
}
.tree ul {
padding-top: 20px;
position: relative;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.tree li {
float: left;
text-align: center;
list-style-type: none;
position: relative;
padding: 20px 5px 0 5px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after {
content: '';
position: absolute;
top: 0;
right: 50%;
border-top: 3px solid #ccc;
width: 50%;
height: 20px;
}
.tree li::after {
right: auto;
left: 50%;
border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child {
padding-top: 0;
}
/*Remove left connector from first child and right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
border-right: 1px solid #ccc;
border-radius: 0 5px 0 0;
-webkit-border-radius: 0 5px 0 0;
-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
border-radius: 5px 0 0 0;
-webkit-border-radius: 5px 0 0 0;
-moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul::before {
content: '';
position: absolute;
top: 0;
left: 50%;
border-left: 1px solid #ccc;
width: 0;
height: 20px;
}


</style>

 <div class="main-content" id="panel">
        {% include  'Neha/nav.html'%}
    <div class="container-fluid ">
      <div class="row">
        <div class="col">
        <div class="text-center">
            <form class="mt-4  form" method="post">
                 {% csrf_token %}
             <input class="form-control" type="text" placeholder="enter userid to see tree" name="userid" value="{{ value }}">
            <input class="mt-4 btn btn-success btn-lg" type="submit" value="see">
                </form>
            <p style="color:red">
                {{ message }}
            </p>

        </div>
    </div>
</div>
<!--         <div class="row">-->
         <div class="row">
            <div class="col"></div>
             <div class="col mx-auto">
             <div class="text-center">
         <div class="tree" id="FamilyTreeDiv">
         <ul>
             <li>
                 <a href="#" data-toggle="tooltip" data-original-title="ParentId:{{ tree.parent|parent_id }},Amount:{{ tree.parent|calculate_commission }},Child:{{ tree.parent|No_of_child }}">
                     {{ tree.parent }}
                <br>

            <img src="{% static 'img/icons/common/profile.png' %}">
                      </a>
<ul>
{%for node in tree.sub_tree.all %}
    {%include "Neha/base_tree.html" %}
{%endfor%}
    </ul>
             </li>
</ul>
         </div>
                 </div>
             </div>
</div>

     </div>
</div>

{% endblock %}


